<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shioichan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shioichan.Properties.Settings>
            <setting name="LocationX" serializeAs="String">
                <value>397</value>
            </setting>
            <setting name="LocationY" serializeAs="String">
                <value>101</value>
            </setting>
            <setting name="SizeWidth" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="SizeHeight" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="ImageRowNum" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PaddingX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PaddingY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaddingColor" serializeAs="String">
                <value>Black</value>
            </setting>
        </Shioichan.Properties.Settings>
    </userSettings>
</configuration>